<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <link href="./styles/style.css" rel="stylesheet"/>
  <link href="./styles/directory.css" rel="stylesheet"/>
</head>
<body>

  <header class="page-header">
    <a href="#go-home" class="home-icon">
      <i class="icon  icon-home" aria-label="home icon"></i>
    </a>
  </header>

  <main>
    <section>

      <form action="directory-search.html" method="post" id='address_form' autocomplete="off" >
        <div class="form-element form-element--location">
          <label for="location">Near</label>
          <input id="location" type="text" name="location" placeholder="Zip code, city, or address">
        </div>

        <div class="form-element form-element--submit">
          <button class="btn--secondary btn--icon" type="submit">
            <i class="icon icon-before icon-search-black" aria-label="search icon" ></i>
          </button>
        </div>

      </form>

      <div class="error-message {{errorMessages.noResults.severity}}">
        <header>
          <p class="error-message__header">{{header}}</p>
        </header>
        <section class="error-message__body">
          {{{body}}}
        </section>
      </div>

    </section>
  </main>

</body>
</html>
