<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link href="{{stylesheet}}" rel="stylesheet"/>
  </head>
  <body>
  {{> (lookup . "body") }}
  </body>
  <script src="{{script}}" defer="defer"></script>
</html>
