/*

/*------------------------------------*    $TABLE OF CONTENTS
    based generally on Harry Roberts excellent CSS Guidelines https://github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * ABSTRACTS..............Declarations of Sass variables and mixins
 * Mixins.................Mixin styles that are included in the site
 * Variables..............Variables for styles that are used in the site
 *
 * BASE...................Base/reset styles for certain elements
 * Animation..............Animation base styles
 * Forms..................Form field base styles
 * Global Classes.........Base styles used across the entirety of the site
 * Headings...............Base styles for headings (h1, h2, etc.)
 * Links..................Base styles for links
 * Lists..................Base styles lists
 * Main...................Base styles for main section
 * Media..................Base styles for various media (videos, iframes, etc.)
 * Reset..................Reset base styles (i.e. Display block on certain elements)
 * Tables.................Base styles for tables
 * Text...................Base styles for text elements
 *
 * COMPONENTS.............Styles for certain components
 * Accordion..............Styles for accordion components
 * Article................Styles for article components
 * Blocks.................Styles for block components
 * Buttons................Styles for button components
 * Carousels..............Styles for carousels
 * Comments...............Styles for comments component
 * Footer.................Styles for the footer component
 * Forms..................Styles for form components
 * Header.................Styles for header component
 * Icons..................Styles for icons
 * Images..................Styles for banners
 * Lists..................Styles for types of lists
 * Main...................Styles for main section
 * Messaging..............Styles for alerts/messaging components
 * Nav....................Styles for navigation components
 * Sections...............Styles for section components
 * Tabs...................Styles for tabs
 * Text...................Styles for text components
 * Tooltip................Styles for tooltips

 *
 * LAYOUT.................Styles that affect the site's general layout
 * Layout.................Layout styles
 *
 * UTILITIES..............Styles that require a utility class
 *
 */
/*------------------------------------*    $ABSTRACTS
\*------------------------------------*/
/*------------------------------------*    #VARIABLES
\*------------------------------------*/
/*------------------------------------*    #COLORS
\*------------------------------------*/
/*
 * 1) Color variables involve a two-tier system to keep colors in sync. The
 *    first tier defines the brand and neutral colors, and the second tier
 *    defines the application of those colors.
 */
/*
 * Brand Colors
 * 1) Brand color variables use English names to define colors to make palettes easier to
 *    identify. Names are generated using this tool: http://chir.ag/projects/name-that-color/
 * 2) Brand color variables should typically not be used directly in Sass partials. Instead, use
 *    second-tier application colors.
 *
 */
/*
 * Neutral Colors
 * 1) Neutral color variables use a numbered system to define variables for better maintainability.
 *    "$color-gray-10" means "10% gray", which is a gray closer to white than to black. For more info
 *    read https://medium.com/eightshapes-llc/color-in-design-systems-a1c80f65fa3#.brevrq67p
 */
/**
 * Secondary Colors
 * 1) This palette contains all of the allowed tints of our primary colors.
 */
/*
  * Text Colors
  * 1) These are non-linked text colors, such as body copy.
  */
/*
 * Heading Colors
 * 1) These are non-linked heading colors, such as h2, h3, etc.
 */
/*
 * Text Link Colors
 * 1) These are for linked text, such as a link found within an article,
 *    navigation link, footer link, etc.
 */
/*
 * Border Colors
 * 1) Border colors are used as decoration or dividers, such as as a seperator
 *    for navigation items, block borders, etc.
 */
/*------------------------------------*    #TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*    #LAYOUT
\*------------------------------------*/
/**
 * Spacing Defaults
 */
/*------------------------------------*    #BORDERS
\*------------------------------------*/
/**
 * Border Width
 */
/**
 * Border Radius
 */
/*------------------------------------*    #ANIMATION
\*------------------------------------*/
/**
 * Animation Duration
 */
/**
 * Animation Easing
 */
/*------------------------------------*    #BREAKPOINTS
\*------------------------------------*/
/**
 * Breakpoints
 */
/*------------------------------------*    $BASE
\*------------------------------------*/
/*

  RESETs

*/
html, body, div, span, applet,
object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption,
figure, footer, header, hgroup, menu,
nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*    #BODY
\*------------------------------------*/
/**
 * Body base styles
 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font: 400 0.875rem/1.43 "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif;
  color: #000000;
  background: #ffffff;
  -webkit-text-size-adjust: 100%; }

.page-header {
  padding: 0 1rem; }
  .page-header ul {
    display: table;
    width: 100%; }
    .page-header ul li {
      display: table-cell;
      vertical-align: middle;
      float: none; }
      .page-header ul li .logo {
        max-width: 11.125rem; }
  .page-header .logo__container {
    text-align: center; }
  .page-header .login__container {
    text-align: right; }

.page-main {
  padding: 1.5rem; }

.page-footer {
  padding: 0 1.5rem;
  border-top: 0.0625rem solid #bfbfbf; }
  .page-footer .c-logo-link {
    margin-left: -1.75rem; }
  .page-footer .footer-links {
    margin: 1rem 0; }
    .page-footer .footer-links li a {
      font-size: 0.75rem; }
  .page-footer .copyright,
  .page-footer .disclaimer {
    margin-top: 1rem;
    font-size: 0.6875rem; }
  .page-footer .phone-number {
    padding: 0;
    font-weight: 600;
    color: #000000;
    text-decoration: none; }

/*

  ANIMATION STANDARD - The standard motion curve and speed for animated UI elements.

*/
/*------------------------------------*    #HEADINGS
\*------------------------------------*/
/**
 * Heading 1
 */
h1 {
  font: 400 2.25rem/1.2 "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif; }
  h1.super {
    font: 300 4.5rem/1.2 "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif; }

/**
 * Heading 2
 */
h2 {
  font: 400 2rem/1.2 "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif; }

/**
 * Heading 3
 */
h3 {
  font: 400 1.5rem/1.2 "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif; }

/**
 * Heading 4
 */
h4 {
  font: 500 1.25rem/1.2 "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif; }

h1 + *,
h2 + *,
h3 + *,
h4 + * {
  margin-top: 0.5rem; }

/*-----------------------------------*    #BUTTONS
\*-----------------------------------*/
button {
  display: inline-block;
  padding: 0.75rem 1.375rem 0.875rem;
  border: solid 0.0625rem #bbb1cd;
  border-radius: 0.1875rem;
  background-color: #d5cfe0;
  color: #ffffff;
  line-height: 1;
  font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  outline: 0; }
  button:hover, button:focus {
    background-color: #bbb1cd; }
  button:active {
    background-color: #9a8bb4;
    box-shadow: inset 0 0.1875rem 0.5rem 0 rgba(51, 28, 93, 0.15); }
  button:disabled {
    background-color: #bfbfbf; }
  button:visited {
    color: #000000; }
  button.btn--secondary {
    border: solid 0.0625rem #bbb1cd;
    background-color: #d5cfe0;
    color: #000000;
    text-decoration: none; }
    button.btn--secondary:hover, button.btn--secondary:focus {
      background-color: #bbb1cd;
      color: #000000; }
    button.btn--secondary:active {
      background-color: #9a8bb4;
      color: #000000;
      box-shadow: inset 0 0.1875rem 0.5rem 0 rgba(37, 25, 62, 0.36);
      border: solid 0.0625rem #9a8bb4; }
    button.btn--secondary:disabled {
      background-color: #666666; }
    button.btn--secondary:visited {
      color: #ffffff; }
    button.btn--secondary.inverted {
      border: solid 0.0625rem #ffffff;
      background-color: transparent;
      background-repeat: no-repeat;
      color: #ffffff;
      text-decoration: none; }
      button.btn--secondary.inverted:hover, button.btn--secondary.inverted:focus {
        background-color: #ffffff;
        color: #000000; }
      button.btn--secondary.inverted:active {
        border: solid 0.0625rem #9a8bb4;
        background-color: #9a8bb4;
        color: #000000;
        box-shadow: inset 0 0.1875rem 0.5rem 0 rgba(37, 25, 62, 0.36); }
      button.btn--secondary.inverted:disabled {
        border: solid 0.0625rem #9a8bb4;
        color: #9a8bb4; }
      button.btn--secondary.inverted:visited {
        border: solid 0.0625rem #ffffff;
        color: #ffffff; }
  button.btn--primary {
    border: solid 0.0625rem #563d82;
    background-color: #6f5a95;
    color: #ffffff;
    text-decoration: none; }
    button.btn--primary:hover, button.btn--primary:focus, button.btn--primary:active {
      background-color: #563d82;
      color: #ffffff; }
    button.btn--primary:active {
      box-shadow: inset 0 0.1875rem 0.5rem 0 rgba(37, 25, 62, 0.36); }
    button.btn--primary:disabled {
      background-color: #666666; }
    button.btn--primary:visited {
      color: #ffffff; }
    button.btn--primary.inverted {
      border: solid 0.0625rem #000000;
      background-color: #ffffff;
      color: #6f5a95;
      text-decoration: none; }
      button.btn--primary.inverted:hover, button.btn--primary.inverted:focus {
        background-color: #d5cfe0;
        color: #563d82; }
      button.btn--primary.inverted:active {
        background-color: #9a8bb4;
        color: #563d82;
        box-shadow: inset 0 0.1875rem 0.5rem 0 rgba(37, 25, 62, 0.36); }
      button.btn--primary.inverted:disabled {
        background-color: #ffffff;
        color: #262626; }
      button.btn--primary.inverted:visited {
        color: #ffffff; }
  button.btn--destructive {
    border: solid 0.0625rem #c35500;
    background-color: #f6d5ca;
    color: #000000; }
    button.btn--destructive:hover, button.btn--destructive:focus, button.btn--destructive:active {
      background: #ea9b7f; }
    button.btn--destructive:active {
      box-shadow: inset 0 0.1875rem 0.5rem 0 #e1714a; }
    button.btn--destructive.inverted {
      border: solid 0.0625rem #ea9b7f;
      background-color: #c35500;
      color: #ffffff; }
      button.btn--destructive.inverted:hover, button.btn--destructive.inverted:focus, button.btn--destructive.inverted:active {
        background: #e1714a; }
      button.btn--destructive.inverted:active {
        box-shadow: inset 0 0.1875rem 0.5rem 0 #ea9b7f; }
  button.btn--feedback {
    padding: 3.5rem 1.0625rem;
    border-radius: 0.1875rem;
    background-color: #ffffff;
    border: solid 0.0625rem #666666;
    padding: 0.4375rem 0.875rem;
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);
    font-size: 0.875rem;
    font-weight: 500;
    color: #000000; }
    button.btn--feedback:disabled {
      background-color: #ffffff;
      color: #262626; }
    button.btn--feedback:visited {
      color: #ffffff; }
  button.full-width {
    width: 100%;
    background-color: #d5cfe0;
    border: 0.0625rem solid #bbb1cd;
    border-radius: 0;
    display: block;
    color: #000000;
    vertical-align: middle; }
    button.full-width i {
      margin: 0 0.75rem 0 0;
      vertical-align: middle; }
    button.full-width span {
      vertical-align: middle; }
    button.full-width:hover, button.full-width:active {
      background-color: #bbb1cd;
      color: #000000; }
    button.full-width:focus {
      background-color: #9a8bb4;
      color: #000000; }
    button.full-width:active {
      box-shadow: inset 0 0.1875rem 0.5rem 0 rgba(37, 25, 62, 0.36); }
    button.full-width:disabled {
      background-color: #666666; }
    button.full-width:visited {
      color: #ffffff; }
    button.full-width.accordion {
      text-align: left; }
      button.full-width.accordion i {
        float: right; }
  button.btn--with-left-icon-text {
    border-radius: 0.1875rem;
    background-color: #d5cfe0;
    border: solid 0.0625rem #bbb1cd;
    font-size: 0.875rem;
    padding: 1.3125rem 5.28125;
    color: #000000;
    vertical-align: middle; }
    button.btn--with-left-icon-text img {
      margin: 0 0.625rem 0 0;
      vertical-align: sub; }
    button.btn--with-left-icon-text:hover, button.btn--with-left-icon-text:active {
      background-color: #bbb1cd;
      color: #000000; }
    button.btn--with-left-icon-text:focus {
      background-color: #9a8bb4;
      color: #000000; }
    button.btn--with-left-icon-text:active {
      box-shadow: inset 0 0.1875rem 0.5rem 0 rgba(37, 25, 62, 0.36); }
    button.btn--with-left-icon-text:disabled {
      background-color: #666666; }
    button.btn--with-left-icon-text:visited {
      color: #ffffff; }
    button.btn--with-left-icon-text.processing {
      background-color: #666666;
      color: #ffffff;
      border-color: #000000; }
  button.btn--with-icon {
    border-radius: 0.1875rem;
    background-color: #6f5a95;
    border: solid 0.0625rem #563d82;
    padding: 0.8125rem 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    button.btn--with-icon:hover, button.btn--with-icon:focus, button.btn--with-icon:active {
      background-color: #563d82;
      color: #ffffff; }
    button.btn--with-icon:active {
      box-shadow: inset 0 0.1875rem 0.5rem 0 rgba(37, 25, 62, 0.36); }
    button.btn--with-icon:disabled {
      background-color: #666666; }
    button.btn--with-icon:visited {
      color: #ffffff; }
  button.btn--with-right-icon-text {
    border-radius: 0.1875rem;
    background-color: #d5cfe0;
    border: solid 0.0625rem #bbb1cd;
    font-size: 0.875rem;
    padding: 1.3125rem 5.28125;
    color: #000000;
    vertical-align: middle; }
    button.btn--with-right-icon-text img {
      margin: 0 0 0 0.625rem;
      vertical-align: sub; }
    button.btn--with-right-icon-text:hover, button.btn--with-right-icon-text:active {
      background-color: #bbb1cd;
      color: #000000; }
    button.btn--with-right-icon-text:focus {
      background-color: #9a8bb4;
      color: #000000; }
    button.btn--with-right-icon-text:active {
      box-shadow: inset 0 0.1875rem 0.5rem 0 rgba(37, 25, 62, 0.36); }
    button.btn--with-right-icon-text:disabled {
      background-color: #666666; }
    button.btn--with-right-icon-text:visited {
      color: #ffffff; }

/*------------------------------------*    #LINKS
\*------------------------------------*/
a {
  font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  color: #6f5a95;
  text-decoration: underline; }
  a:visited {
    color: #666666; }
  a:hover, a:focus {
    color: #563d82; }
  a:active {
    color: #6f5a95; }
  a.inverted {
    color: #ffffff; }
    a.inverted:visited {
      color: #f2f2f2; }
    a.inverted:hover, a.inverted:focus {
      color: #d5cfe0; }
    a.inverted:active {
      color: #f2f2f2; }

.link-with-button {
  padding-right: 1rem; }

.link-with-icon {
  padding-right: 0.4375rem; }

.label-with-link {
  padding-left: 1rem; }

/*------------------------------------*    #LISTS
\*------------------------------------*/
ul,
ol {
  list-style-type: none;
  font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  overflow: hidden; }
  ul li,
  ol li {
    float: left; }
    ul li a,
    ol li a {
      display: block;
      padding: 0.25rem; }
      ul li a:first-child,
      ol li a:first-child {
        padding-left: 0; }

.progress {
  border-spacing: 0.0625rem;
  top: 0.9375rem;
  width: 100%;
  display: table;
  padding: 0 7%;
  margin: 0; }
  .progress .column {
    padding: 0;
    border: 0;
    margin: 0;
    display: inline-table-cell; }

/*------------------------------------*\finput

    #FORMS
\*------------------------------------*/
/**
 * Fieldset base styles
 */
fieldset {
  width: 100%; }
  fieldset + button {
    margin-top: 1.5rem; }
  p + fieldset {
    margin-top: 1.5rem; }

/**
 * Input and text area base styles
 */
input,
textarea {
  box-sizing: border-box;
  width: 100%;
  border: solid 0.0625rem #bfbfbf;
  background-color: #ffffff;
  font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 0;
  -moz-box-shadow: inset 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.08);
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: inset 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.08); }
  input:active,
  textarea:active {
    outline: none;
    border: solid 0.0625rem #00aec7;
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08); }
  input:disabled,
  textarea:disabled {
    border: solid 0.0625rem #d9d9d9; }
  input:focus,
  textarea:focus {
    outline: none;
    border: solid 0.0625rem #00aec7;
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08); }
  input:placeholder,
  textarea:placeholder {
    color: #a7a7a7;
    font-weight: 500; }
  input.state,
  textarea.state {
    width: 142px; }
  input.zipcode,
  textarea.zipcode {
    width: 100px; }
  input.phone,
  textarea.phone {
    width: 315px; }
  input + input,
  input + textarea,
  input + select,
  textarea + input,
  textarea + textarea,
  textarea + select {
    margin-top: 0.5625rem; }
  input + button,
  textarea + button {
    margin-top: 2rem; }

/**
 * Label base styles
 */
label,
legend {
  display: block;
  font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  clear: both;
  margin-top: 0.5625rem; }
  label > span,
  label > p,
  legend > span,
  legend > p {
    font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: #666666; }
  label + input,
  label + textarea,
  label + select,
  legend + input,
  legend + textarea,
  legend + select {
    margin-top: 0.5625rem; }

label.disabled {
  opacity: 0.6; }

/* Make placeholder text consistent colors. */
::-webkit-input-placeholder {
  color: #a7a7a7;
  font-weight: 500; }

::-moz-placeholder {
  color: #5c5c5c;
  font-weight: 500; }

/* ie */
:-ms-input-placeholder {
  color: #a7a7a7;
  font-weight: 500; }

/* firefox 19+ */
/* Color differs to compensate for Firefox's weird decision to always lighten specified placeholder colors */
input:-moz-placeholder {
  color: #a7a7a7;
  font-weight: 500; }

/* placeholder won't disappear fixes */
input:focus::-webkit-input-placeholder {
  color: transparent; }

/* Firefox 19+ */
input:focus::-moz-placeholder {
  color: transparent; }

/* Firefox 18- */
input:focus:-moz-placeholder {
  color: transparent; }

/* oldIE ;) */
input:focus:-ms-input-placeholder {
  color: transparent; }

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="password"],
textarea {
  padding: 0.75rem 0.625rem 0.6875rem; }

input[type="radio"] {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0;
  margin-right: 1rem;
  border: none;
  zoom: 1;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  input[type="radio"]::before, input[type="radio"]:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.7rem;
    height: 1.7rem;
    border: 0.0625rem solid #bfbfbf;
    border-radius: 50%;
    background: #ffffff;
    -moz-box-shadow: inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    content: ""; }
  input[type="radio"]::after, input[type="radio"]:after {
    position: absolute;
    top: 0.46rem;
    left: 0.46rem;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    background: #ffffff;
    content: "";
    opacity: 0;
    zoom: 1; }
  input[type="radio"]:checked::before, input[type="radio"]:checked:before {
    border-color: #563d82;
    background: #6f5a95; }
  input[type="radio"]:checked::after, input[type="radio"]:checked:after {
    opacity: 1; }
  input[type="radio"]:checked:focus:before {
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.5);
    border: solid 0.0625rem #563d82; }
  input[type="radio"]:focus:before {
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    border: solid 0.0625rem #00aec7; }

input[type="checkbox"] {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0;
  margin-right: 1rem;
  border: none;
  zoom: 1;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  input[type="checkbox"]::before {
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    border: 0.0625rem solid #bfbfbf;
    border-radius: 0.1875rem;
    -webkit-box-shadow: inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    -moz-box-box-shadow: inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    background: #ffffff;
    content: ""; }
  input[type="checkbox"]::after {
    content: '';
    display: block;
    position: absolute;
    top: 0.35rem;
    left: 0.65rem;
    width: 0.35rem;
    height: 0.7rem;
    border: solid #ffffff;
    border-width: 0 0.175rem 0.175rem 0;
    transform: rotate(45deg); }
  input[type="checkbox"]:checked::before {
    border-color: #563d82;
    background: #6f5a95; }
  input[type="checkbox"]:checked:focus:before {
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.5);
    border: solid 0.0625rem #563d82; }
  input[type="checkbox"]:focus {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border-radius: 0.25rem; }
    input[type="checkbox"]:focus:before {
      box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
      border: solid 0.0625rem #00aec7; }

select {
  padding: 0.75rem 2.375rem 0.6875rem 0.625rem;
  border: solid 0.0625rem #bfbfbf;
  border-radius: 0.1875rem;
  background: url("../images/icon-arrow.svg") no-repeat right, linear-gradient(to top, #f2f2f2, #ffffff);
  background-size: 1.625rem 0.375rem, cover;
  box-shadow: 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.08);
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 0.875rem;
  font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif;
  outline: 0; }
  select::-ms-expand {
    display: none; }
  select:focus {
    border: solid 0.0625rem #00aec7;
    -moz-box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08); }
  select:active {
    border: solid 0.0625rem #00aec7;
    -moz-box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08); }
  select:disabled {
    border: solid 0.0625rem #d9d9d9; }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000000; }
  select.phone {
    width: 88px; }

.selection-list {
  display: inline-block;
  padding: 0.875rem 0.625rem 1rem 0.625rem;
  background-color: #f2f2f2;
  border: solid 0.0625rem #bfbfbf; }
  .selection-list .selections p {
    padding: 1rem 0 0.625rem 3.5rem; }
  .selection-list .selections a {
    margin-left: 5.5rem; }

.provider-selection {
  display: inline-block;
  padding: 0.875rem 0.625rem 1rem 0.625rem;
  background-color: #f2f2f2;
  border: 0; }
  .provider-selection span {
    padding-left: 6.75rem;
    padding-right: 0.75rem; }
  .provider-selection .selections {
    padding: 0.625rem 0rem 0.625rem 3.5rem; }
    .provider-selection .selections .last-paragraph {
      padding-bottom: 1.3125rem; }

.tooltip-container {
  position: relative;
  display: inline; }
  .tooltip-container:hover .tooltip {
    visibility: visible;
    left: 100%;
    top: 50%;
    z-index: 999; }
  .tooltip-container .tooltip {
    position: absolute;
    color: #000000;
    background: #ffffff;
    border: 0.0625rem solid #00aec7;
    visibility: hidden;
    padding: 0.5rem 0.5rem 1.5625rem 0.5rem;
    border-radius: 0.1875rem;
    left: 100%;
    top: 50%;
    margin-top: -70%;
    margin-left: 0.9375rem;
    box-shadow: 0rem 0rem 0rem 0.375rem rgba(191, 191, 191, 0.3);
    z-index: 999; }
    .tooltip-container .tooltip h4, .tooltip-container .tooltip p {
      padding: 1.25rem 1.25rem 0 0; }
    .tooltip-container .tooltip:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -0.4375rem;
      width: 0;
      height: 0;
      border-right: 0.375rem solid #00aec7;
      border-top: 0.375rem solid transparent;
      border-bottom: 0.375rem solid transparent; }
    .tooltip-container .tooltip:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -0.375rem;
      width: 0;
      height: 0;
      border-right: 0.3125rem solid #ffffff;
      border-top: 0.3125rem solid transparent;
      border-bottom: 0.3125rem solid transparent; }
  .tooltip-container.popup-with-exit-icon .popup-inner {
    margin-top: -49%; }
    .tooltip-container.popup-with-exit-icon .popup-inner:before, .tooltip-container.popup-with-exit-icon .popup-inner:after {
      content: none; }
  .tooltip-container.popup-with-exit-icon h4, .tooltip-container.popup-with-exit-icon p {
    padding: 0.625rem 1.25rem 0 0; }
  .tooltip-container.popup-with-exit-icon .icon.icon-exit {
    border: none;
    box-shadow: none;
    margin-left: 7.8125rem;
    top: 5.625rem; }
    .tooltip-container.popup-with-exit-icon .icon.icon-exit:before, .tooltip-container.popup-with-exit-icon .icon.icon-exit:after {
      content: none; }
  .tooltip-container.alert-popup-with-content .tooltip {
    border: 0.0625rem solid #c35500;
    box-shadow: none; }
  .tooltip-container.alert-popup-with-content .popup-inner {
    margin-top: -49%; }
    .tooltip-container.alert-popup-with-content .popup-inner:before, .tooltip-container.alert-popup-with-content .popup-inner:after {
      content: none; }
  .tooltip-container.alert-popup-with-content h4 {
    color: #c35500;
    font-size: 1.5rem;
    padding: 0.625rem 1.25rem 0 0; }
  .tooltip-container.alert-popup-with-content p {
    font-size: 0.875rem;
    line-height: 1.43;
    padding: 0.625rem 1.25rem 0 0; }

.div--birthdate input {
  width: 75px; }

.div--birthdate legend {
  padding: 5px 0; }

.div--birthdate .year {
  width: 95px; }

.div--inline-field {
  display: inline-block; }

.more-info-box {
  height: auto; }
  .more-info-box p {
    max-width: 375px;
    font-size: 11px;
    color: #000;
    margin-bottom: 10px; }

label.error ~ select.error,
label.error ~ input.error,
input.error ~ .ajax-error-container,
label.error ~ .ajax-error-container,
.inline-error-container ~ input.error {
  margin-bottom: 16px; }

/*------------------------------------*    #TEXT
\*------------------------------------*/
/**
 * Paragraph base styles
 */
p {
  font: 400 0.875rem/1.2 "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif; }

/*

  UTILITY CLASSES

  Displays
  Hiding
  Spacing - awaiting definition
  Floats
  Validation

*/
.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.overflow {
  overflow: auto; }

/* Hide visually and from screen readers */
.hidden {
  display: none; }

/* Hide visually, but not from screen readers */
.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  overflow: hidden;
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem); }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

div.alert {
  border: 0.0625rem solid #bfbfbf;
  padding: 0.5rem;
  background: #f2f2f2;
  border-radius: 0.1875rem; }

.error {
  color: #c35500; }

.invalid,
.error {
  border: solid 0.0625rem #c35500; }

input.error,
select.error {
  color: initial;
  background-color: #ffffff; }

select.success,
input.success {
  background-color: #ffffff;
  color: #000000;
  border: 0.0625rem solid #bfbfbf; }

.errors-list li {
  margin-bottom: 0.625rem;
  clear: both; }

.icon + p {
  margin-right: 0.75rem; }

.icon {
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  display: inline-block; }
  .icon.icon-error {
    width: 0.6875rem;
    height: 0.6875rem;
    background-image: url(../images/icon-error.png);
    background-image: url(../images/icon-error.svg), linear-gradient(transparent, transparent); }
  .icon.icon-exit {
    width: 0.875rem;
    height: 0.8125rem;
    background-image: url(../images/icon-exit.png);
    background-image: url(../images/icon-exit.svg), linear-gradient(transparent, transparent); }
  .icon.icon-pass {
    width: 0.875rem;
    height: 0.6875rem;
    background-image: url(../images/icon-pass.png);
    background-image: url(../images/icon-pass.svg), linear-gradient(transparent, transparent); }
  .icon.icon-check-circle {
    width: 1rem;
    height: 1rem;
    background-image: url(../images/check-circle.png);
    background-image: url(../images/check-circle.svg), linear-gradient(transparent, transparent); }
  .icon.icon-warning {
    width: 1rem;
    height: 1rem;
    background-image: url(../images/warning-triangle.png);
    background-image: url(../images/warning-triangle.svg), linear-gradient(transparent, transparent); }
  .icon.icon-info {
    width: 1rem;
    height: 1rem;
    background-image: url(../images/info.png);
    background-image: url(../images/info.svg), linear-gradient(transparent, transparent); }
  .icon.icon-question-mark {
    width: 1rem;
    height: 1rem;
    background-image: url(../images/question-mark.png);
    background-image: url(../images/question-mark.svg), linear-gradient(transparent, transparent); }
  .icon.icon-refresh {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../images/icon_full-width.png);
    background-image: url(../images/icon_full-width.svg), linear-gradient(transparent, transparent); }
  .icon.icon-accordion {
    width: 0.875rem;
    height: 0.8125rem;
    background-image: url(../images/icon-accordion-arrow.png);
    background-image: url(../images/icon-accordion-arrow.svg), linear-gradient(transparent, transparent); }
  .icon.icon-search {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../../images/icon-search.png);
    background-image: url(../../images/icon-search.svg), linear-gradient(transparent, transparent); }
  .icon.icon-down-error {
    width: 12px;
    height: 7px;
    background-image: url(../images/icon-down-arrow.png);
    background-image: url(../images/icon-down-arrow.svg), linear-gradient(transparent, transparent); }
  .icon.icon-home {
    width: 1.2rem;
    height: 1.1rem;
    background-image: url("../images/icon-home.png");
    background-image: url("../images/icon-home.svg"), linear-gradient(transparent, transparent); }

.page-progress-piece-active {
  display: inline-block;
  width: 10.3125rem;
  height: 0.375rem;
  background-color: #43b02a;
  width: 100%; }

.page-progress-piece-current {
  display: inline-block;
  width: 10.3125rem;
  height: 0.375rem;
  background-color: #5fbc4a;
  width: 100%; }

.page-progress-piece-inactive {
  display: inline-block;
  width: 10.3125rem;
  height: 0.375rem;
  background-color: #bfbfbf;
  width: 100%; }

.page-progress-piece-current-text {
  font-weight: bold; }

.credit-card {
  display: inline-block;
  padding: 0;
  border: 0;
  width: 1.375rem;
  height: 1rem; }
  .credit-card.discover {
    background-image: url(../images/discover.png); }
  .credit-card.visa-inverted {
    background-image: url(../images/visa-inverted.png); }
  .credit-card.american-express {
    background-image: url(../images/american-express.png); }
  .credit-card.master-card {
    background-image: url(../images/master-card.png); }

.credit-card-container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 290px; }
  .credit-card-container .grid {
    position: absolute;
    border-spacing: 0;
    top: 15px;
    padding-left: 190px; }
    .credit-card-container .grid .col {
      padding: 0;
      border: 0;
      margin: 0;
      display: table-cell; }

.error-message--cat3 {
  padding: 1.5rem;
  background-color: #ffffff; }
  .error-message--cat3 .label {
    font-size: 1.5rem;
    color: #c35500;
    margin-bottom: 0.875rem; }
  .error-message--cat3 .description {
    font-size: 0.875rem;
    line-height: 1.43;
    color: #000000;
    margin-bottom: 0.875rem; }
    .error-message--cat3 .description:last-child {
      margin-bottom: 0rem; }
  .error-message--cat3 .button-align {
    margin: 1.5rem 5.625rem; }

.error-message--cat2 {
  padding: 1.5rem;
  background-color: #ffffff; }
  .error-message--cat2 .label {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 0.875rem; }
  .error-message--cat2 .description {
    font-size: 0.875rem;
    line-height: 1.43;
    color: #000000;
    margin-bottom: 0.875rem; }
  .error-message--cat2 .contact {
    margin: 1.5rem 0; }

.suggestion-dropdown {
  background-color: #ffffff;
  border: solid 0.0625rem #979797;
  border-width: 0.0625rem 0 0.0625rem 0;
  padding: 0.4375rem 0;
  font-size: 0.875rem;
  color: #666666;
  text-align: center; }

/*------------------------------------*    #NAVIGATION
\*------------------------------------*/
/**
 * Navigation base styles
 */
.header--banner {
  background-color: #563d82;
  color: white; }
  .header--banner p {
    padding: 17px 65% 17px 21%;
    font-size: 18px; }
  .header--banner span {
    font-weight: bold; }

.header3--personal-info-page {
  padding: 20px 0 10px 0; }

.label--personal-info-page {
  margin-top: 10px; }

/*------------------------------------*    $LAYOUT
\*------------------------------------*/
/*------------------------------------*    #LAYOUT
\*------------------------------------*/
/**
 * Layout container
 */
.l {
  max-width: 52.5rem;
  margin: 0 auto;
  padding: 1rem; }

/*------------------------------------*    #TEMPLATES
\*------------------------------------*/
/**
 * 2 column layout
 */
.l--two-col {
  display: flex;
  flex-direction: column;
  /**
	 * Sidebar
	 */ }
  @media all and (min-width: 50em) {
    .l--two-col .l-main {
      width: 70%;
      padding-right: 1em; } }
  @media all and (min-width: 39.8em) {
    .l--two-col .l-sidebar {
      display: flex; } }
  @media all and (min-width: 50em) {
    .l--two-col .l-sidebar {
      flex-direction: column;
      width: 30%;
      padding: 0 0 0 1em; } }
  @media all and (min-width: 50em) {
    .l--two-col {
      flex-direction: row; } }

/*------------------------------------*    #GRIDS
\*------------------------------------*/
/**
 * Grid
 */
.g {
  overflow: hidden;
  margin: 0 -0.5em; }

/**
 * Grid item
 */
.gi img {
  display: block; }

@media all and (min-width: 46.8em) {
  .gi {
    float: left; } }

/**
 * 2 up grid
 */
@media all and (min-width: 46.8em) {
  .g-2up > .gi {
    float: left;
    width: 50%; }
    .g-2up > .gi:nth-of-type(odd) {
      clear: left; } }

/**
 * Grid side by side
 */
.g-half > .gi {
  float: left;
  width: 50%; }
  .g-half > .gi:nth-of-type(odd) {
    clear: left; }

/**
 * 3 up grid
 */
@media all and (min-width: 46.8em) {
  .g-3up > .gi {
    float: left;
    width: 50%; }
    .g-3up > .gi:nth-of-type(2n+1) {
      clear: left; } }

@media all and (min-width: 50em) {
  .g-3up > .gi {
    width: 33.3333333%; }
    .g-3up > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-3up > .gi:nth-of-type(3n+1) {
      clear: left; } }

/**
 * 4 up grid
 */
@media all and (min-width: 46.8em) {
  .g-4up > .gi {
    float: left;
    width: 50%; }
    .g-4up > .gi:nth-of-type(2n+1) {
      clear: both; } }

@media all and (min-width: 50em) {
  .g-4up > .gi {
    width: 25%; }
    .g-4up > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-4up > .gi:nth-of-type(4n+1) {
      clear: left; } }

/**
 * Quarter grid always displayed side by side
 */
.g-quarter > .gi {
  float: left;
  width: 24%; }
  .g-quarter > .gi:nth-of-type(4n+1) {
    clear: left; }

/**
 * Grid max 4 up
 */
@media all and (min-width: 29.75em) {
  .g-max4 > .gi {
    float: left;
    width: 50%; }
    .g-max4 > .gi:nth-of-type(2n+1) {
      clear: both; } }

@media all and (min-width: 39.8em) {
  .g-max4 > .gi {
    width: 33.3333333%; }
    .g-max4 > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-max4 > .gi:nth-of-type(3n+1) {
      clear: left; } }

@media all and (min-width: 50em) {
  .g-max4 > .gi {
    width: 25%; }
    .g-max4 > .gi:nth-of-type(3n+1) {
      clear: none; }
    .g-max4 > .gi:nth-of-type(4n+1) {
      clear: left; } }

/**
 * Grid max of 5 up
 */
.g-max5 > .gi {
  float: left;
  width: 50%; }
  .g-max5 > .gi:nth-of-type(2n+1) {
    clear: both; }

@media all and (min-width: 39.8em) {
  .g-max5 > .gi {
    width: 33.3333333%; }
    .g-max5 > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-max5 > .gi:nth-of-type(3n+1) {
      clear: left; } }

@media all and (min-width: 46.8em) {
  .g-max5 > .gi {
    width: 25%; }
    .g-max5 > .gi:nth-of-type(3n+1) {
      clear: none; }
    .g-max5 > .gi:nth-of-type(4n+1) {
      clear: left; } }

@media all and (min-width: 48em) {
  .g-max5 > .gi {
    width: 20%; }
    .g-max5 > .gi:nth-of-type(4n+1) {
      clear: none; }
    .g-max5 > .gi:nth-of-type(5n+1) {
      clear: left; } }
