/*

/*------------------------------------*    $TABLE OF CONTENTS
    based generally on Harry Roberts excellent CSS Guidelines https://github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * ABSTRACTS..............Declarations of Sass variables and mixins
 * Mixins.................Mixin styles that are included in the site
 * Variables..............Variables for styles that are used in the site
 *
 * BASE...................Base/reset styles for certain elements
 * Animation..............Animation base styles
 * Forms..................Form field base styles
 * Global Classes.........Base styles used across the entirety of the site
 * Headings...............Base styles for headings (h1, h2, etc.)
 * Links..................Base styles for links
 * Lists..................Base styles lists
 * Main...................Base styles for main section
 * Media..................Base styles for various media (videos, iframes, etc.)
 * Reset..................Reset base styles (i.e. Display block on certain elements)
 * Tables.................Base styles for tables
 * Text...................Base styles for text elements
 *
 * COMPONENTS.............Styles for certain components
 * Accordion..............Styles for accordion components
 * Article................Styles for article components
 * Blocks.................Styles for block components
 * Buttons................Styles for button components
 * Carousels..............Styles for carousels
 * Comments...............Styles for comments component
 * Footer.................Styles for the footer component
 * Forms..................Styles for form components
 * Header.................Styles for header component
 * Icons..................Styles for icons
 * Images..................Styles for banners
 * Lists..................Styles for types of lists
 * Main...................Styles for main section
 * Messaging..............Styles for alerts/messaging components
 * Nav....................Styles for navigation components
 * Sections...............Styles for section components
 * Tabs...................Styles for tabs
 * Text...................Styles for text components
 * Tooltip................Styles for tooltips

 *
 * LAYOUT.................Styles that affect the site's general layout
 * Layout.................Layout styles
 *
 * UTILITIES..............Styles that require a utility class
 *
 */
/*------------------------------------*    $ABSTRACTS
\*------------------------------------*/
/*------------------------------------*    #VARIABLES
\*------------------------------------*/
/*------------------------------------*    #COLORS
\*------------------------------------*/
/*
 * 1) Color variables involve a two-tier system to keep colors in sync. The
 *    first tier defines the brand and neutral colors, and the second tier
 *    defines the application of those colors.
 */
/*
 * Brand Colors
 * 1) Brand color variables use English names to define colors to make palettes easier to
 *    identify. Names are generated using this tool: http://chir.ag/projects/name-that-color/
 * 2) Brand color variables should typically not be used directly in Sass partials. Instead, use
 *    second-tier application colors.
 *
 */
/*
 * Neutral Colors
 * 1) Neutral color variables use a numbered system to define variables for better maintainability.
 *    "$color-gray-10" means "10% gray", which is a gray closer to white than to black. For more info
 *    read https://medium.com/eightshapes-llc/color-in-design-systems-a1c80f65fa3#.brevrq67p
 */
/**
* Secondary Colors
* 1) This palette contains all of the allowed tints of our primary colors.
*/
/*
* Text Colors
* 1) These are non-linked text colors, such as body copy.
*/
/*
 * Heading Colors
 * 1) These are non-linked heading colors, such as h2, h3, etc.
 */
/*
 * Text Link Colors
 * 1) These are for linked text, such as a link found within an article,
 *    navigation link, footer link, etc.
 */
/*
 * Border Colors
 * 1) Border colors are used as decoration or dividers, such as as a seperator
 *    for navigation items, block borders, etc.
 */
/*------------------------------------*    #TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*    #LAYOUT
\*------------------------------------*/
/**
 * Spacing Defaults
 */
/*------------------------------------*    #BORDERS
\*------------------------------------*/
/**
 * Border Width
 */
/**
 * Border Radius
 */
/*------------------------------------*    #SHADOW
\*------------------------------------*/
/**
 * Shadow
 */
/*------------------------------------*    #ANIMATION
\*------------------------------------*/
/**
 * Animation Duration
 */
/**
 * Animation Easing
 */
/*------------------------------------*    #BREAKPOINTS
\*------------------------------------*/
/**
 * Breakpoints
 */
/*------------------------------------*    $BASE
\*------------------------------------*/
/*

  RESETs

*/
html, body, div, span, applet,
object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption,
figure, footer, header, hgroup, menu,
nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*    #BODY
\*------------------------------------*/
/**
 * Body base styles
 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font: 400 0.875rem/1.43 "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif;
  color: #000000;
  background: #ffffff;
  -webkit-text-size-adjust: 100%; }

main {
  display: block;
  padding: 0 1rem; }

/*

  ANIMATION STANDARD - The standard motion curve and speed for animated UI elements.

*/
/*------------------------------------*    #HEADINGS
\*------------------------------------*/
/**
 * Heading 1
 */
h1 {
  font-size: 2.25rem;
  font-weight: 400; }
  h1.super {
    font-size: 4.5rem;
    font-weight: 200; }

/**
 * Heading 2
 */
h2 {
  font-size: 2rem;
  font-weight: 400; }

/**
 * Heading 3
 */
h3 {
  font-size: 1.5rem;
  font-weight: 400; }

/**
 * Heading 4
 */
h4 {
  font-size: 1.25rem;
  font-weight: 600; }

h5 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }

h1 + p,
h2 + p,
h3 + p,
h4 + p {
  margin-top: 0.5rem; }

/*-----------------------------------*    #BUTTONS
\*-----------------------------------*/
button,
.button {
  display: inline-block;
  padding: 0.75rem 1.375rem 0.875rem;
  border: solid 0.0625rem #563d82;
  border-radius: 0.1875rem;
  background-color: #6f5a95;
  color: #ffffff;
  font-size: 0.875rem;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  outline: 0; }
  button:hover, button:focus, button:active,
  .button:hover,
  .button:focus,
  .button:active {
    background-color: #563d82;
    color: #ffffff; }
  button:active,
  .button:active {
    box-shadow: inset 0 0.1875rem 0.5rem 0 rgba(37, 25, 62, 0.36); }
  button:disabled,
  .button:disabled {
    background-color: #666666; }
  button:visited,
  .button:visited {
    color: #ffffff; }
  button i,
  .button i {
    margin: 0 0.75rem;
    vertical-align: middle; }
    button i.icon-before,
    .button i.icon-before {
      margin-left: 0; }
    button i.icon-after,
    .button i.icon-after {
      margin-right: 0; }
  button.btn--secondary,
  .button.btn--secondary {
    border-color: #bbb1cd;
    background-color: #d5cfe0;
    color: #000000; }
    button.btn--secondary:hover, button.btn--secondary:focus,
    .button.btn--secondary:hover,
    .button.btn--secondary:focus {
      background-color: #bbb1cd;
      color: #000000; }
    button.btn--secondary:active,
    .button.btn--secondary:active {
      background-color: #9a8bb4;
      color: #000000;
      border-color: #9a8bb4; }
    button.btn--secondary:disabled,
    .button.btn--secondary:disabled {
      background-color: #666666; }
    button.btn--secondary:visited,
    .button.btn--secondary:visited {
      color: #ffffff; }
    button.btn--secondary.inverted,
    .button.btn--secondary.inverted {
      border-color: #ffffff;
      background-color: transparent;
      color: #ffffff; }
      button.btn--secondary.inverted:hover, button.btn--secondary.inverted:focus,
      .button.btn--secondary.inverted:hover,
      .button.btn--secondary.inverted:focus {
        background-color: #ffffff;
        color: #000000; }
      button.btn--secondary.inverted:active,
      .button.btn--secondary.inverted:active {
        border-color: #9a8bb4;
        background-color: #9a8bb4;
        color: #000000; }
      button.btn--secondary.inverted:disabled,
      .button.btn--secondary.inverted:disabled {
        border-color: #9a8bb4;
        color: #9a8bb4; }
      button.btn--secondary.inverted:visited,
      .button.btn--secondary.inverted:visited {
        border-color: #ffffff;
        color: #ffffff; }
  button.btn--primary.inverted,
  .button.btn--primary.inverted {
    border-color: #000000;
    background-color: #ffffff;
    color: #6f5a95; }
    button.btn--primary.inverted:hover, button.btn--primary.inverted:focus,
    .button.btn--primary.inverted:hover,
    .button.btn--primary.inverted:focus {
      background-color: #d5cfe0;
      color: #563d82; }
    button.btn--primary.inverted:active,
    .button.btn--primary.inverted:active {
      background-color: #9a8bb4;
      color: #563d82; }
    button.btn--primary.inverted:disabled,
    .button.btn--primary.inverted:disabled {
      background-color: #ffffff;
      color: #262626; }
    button.btn--primary.inverted:visited,
    .button.btn--primary.inverted:visited {
      color: #ffffff; }
  button.btn--destructive,
  .button.btn--destructive {
    border-color: #c35500;
    background-color: #f6d5ca;
    color: #000000; }
    button.btn--destructive:hover, button.btn--destructive:focus, button.btn--destructive:active,
    .button.btn--destructive:hover,
    .button.btn--destructive:focus,
    .button.btn--destructive:active {
      background: #ea9b7f; }
    button.btn--destructive.inverted,
    .button.btn--destructive.inverted {
      border: solid 0.0625rem #ea9b7f;
      background-color: #c35500;
      color: #ffffff; }
      button.btn--destructive.inverted:hover, button.btn--destructive.inverted:focus, button.btn--destructive.inverted:active,
      .button.btn--destructive.inverted:hover,
      .button.btn--destructive.inverted:focus,
      .button.btn--destructive.inverted:active {
        background: #e1714a; }
  button.btn--feedback,
  .button.btn--feedback {
    background-color: #ffffff;
    border-color: #666666;
    padding: 0.4375rem 0.875rem;
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);
    color: #000000;
    text-transform: uppercase; }
    button.btn--feedback:disabled,
    .button.btn--feedback:disabled {
      background-color: #ffffff;
      color: #262626; }
    button.btn--feedback:visited,
    .button.btn--feedback:visited {
      color: #ffffff; }
    @media only screen and (min-width: 37.5rem) {
      button.btn--feedback,
      .button.btn--feedback {
        transform: rotate(-90deg) translateY(-73px) translateX(-79px);
        box-shadow: -0.125rem 0 0.1875rem rgba(0, 0, 0, 0.1); } }
  button.full-width,
  .button.full-width {
    width: 100%;
    vertical-align: middle; }
    button.full-width i,
    .button.full-width i {
      margin: 0 0.75rem 0 0;
      vertical-align: middle; }
    button.full-width span,
    .button.full-width span {
      vertical-align: middle; }
  button.btn--with-left-icon-text,
  .button.btn--with-left-icon-text {
    border-color: #bbb1cd;
    padding: 1.3125rem 5.28125;
    color: #000000;
    vertical-align: middle; }
    button.btn--with-left-icon-text img,
    .button.btn--with-left-icon-text img {
      margin: 0 0.625rem 0 0;
      vertical-align: sub; }
    button.btn--with-left-icon-text:hover, button.btn--with-left-icon-text:active,
    .button.btn--with-left-icon-text:hover,
    .button.btn--with-left-icon-text:active {
      background-color: #bbb1cd;
      color: #000000; }
    button.btn--with-left-icon-text:focus,
    .button.btn--with-left-icon-text:focus {
      background-color: #9a8bb4;
      color: #000000; }
    button.btn--with-left-icon-text:disabled,
    .button.btn--with-left-icon-text:disabled {
      background-color: #666666; }
    button.btn--with-left-icon-text:visited,
    .button.btn--with-left-icon-text:visited {
      color: #ffffff; }
    button.btn--with-left-icon-text.processing,
    .button.btn--with-left-icon-text.processing {
      background-color: #666666;
      color: #ffffff;
      border-color: #000000; }
  button.btn--with-icon,
  .button.btn--with-icon {
    background-color: #6f5a95;
    border-color: #563d82;
    padding: 0.8125rem 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    button.btn--with-icon:hover, button.btn--with-icon:focus, button.btn--with-icon:active,
    .button.btn--with-icon:hover,
    .button.btn--with-icon:focus,
    .button.btn--with-icon:active {
      background-color: #563d82;
      color: #ffffff; }
    button.btn--with-icon:disabled,
    .button.btn--with-icon:disabled {
      background-color: #666666; }
    button.btn--with-icon:visited,
    .button.btn--with-icon:visited {
      color: #ffffff; }
  button.btn--with-right-icon-text,
  .button.btn--with-right-icon-text {
    background-color: #d5cfe0;
    border-color: #bbb1cd;
    padding: 1.3125rem 5.28125;
    color: #000000;
    vertical-align: middle; }
    button.btn--with-right-icon-text img,
    .button.btn--with-right-icon-text img {
      margin: 0 0 0 0.625rem;
      vertical-align: sub; }
    button.btn--with-right-icon-text:hover, button.btn--with-right-icon-text:active,
    .button.btn--with-right-icon-text:hover,
    .button.btn--with-right-icon-text:active {
      background-color: #bbb1cd;
      color: #000000; }
    button.btn--with-right-icon-text:focus,
    .button.btn--with-right-icon-text:focus {
      background-color: #9a8bb4;
      color: #000000; }
    button.btn--with-right-icon-text:disabled,
    .button.btn--with-right-icon-text:disabled {
      background-color: #666666; }
    button.btn--with-right-icon-text:visited,
    .button.btn--with-right-icon-text:visited {
      color: #ffffff; }
  button.btn--icon,
  .button.btn--icon {
    padding: 0.5rem; }
    button.btn--icon i,
    .button.btn--icon i {
      margin: 0; }
  button.btn--dropdown,
  .button.btn--dropdown {
    color: #000000;
    border-color: #bfbfbf;
    background: linear-gradient(0deg, #f2f2f2 0%, #ffffff 100%);
    box-shadow: 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.08); }
    button.btn--dropdown i,
    .button.btn--dropdown i {
      margin: 0 0 0 1.75rem; }

/*------------------------------------*    #LINKS
\*------------------------------------*/
a {
  color: #6f5a95;
  text-decoration: underline; }
  a:visited {
    color: #666666; }
  a:hover, a:focus {
    color: #563d82; }
  a:active {
    color: #6f5a95; }
  a.inverted {
    color: #ffffff; }
    a.inverted:visited {
      color: #f2f2f2; }
    a.inverted:hover, a.inverted:focus {
      color: #d5cfe0; }
    a.inverted:active {
      color: #f2f2f2; }
  a.phone-link {
    color: #000000;
    text-decoration: none; }

.link-with-button {
  padding-right: 1rem; }

.link-with-icon {
  padding-right: 0.4375rem; }

.label-with-link {
  padding-left: 1rem; }

/*------------------------------------*    #LISTS
\*------------------------------------*/
ul,
ol {
  list-style-type: none;
  overflow: hidden; }
  ul li a,
  ol li a {
    display: block;
    padding: 0.25rem; }
  ul li:first-child a,
  ol li:first-child a {
    padding-left: 0; }
  ul li:last-child a,
  ol li:last-child a {
    padding-right: 0; }

.progress {
  border-spacing: 0.0625rem;
  top: 0.9375rem;
  width: 100%;
  display: table;
  padding: 0 7%;
  margin: 0; }
  .progress .column {
    padding: 0;
    border: 0;
    margin: 0;
    display: inline-table-cell; }

/*------------------------------------*    #FORMS
\*------------------------------------*/
form.form--inline {
  overflow: hidden; }
  form.form--inline fieldset,
  form.form--inline label,
  form.form--inline input,
  form.form--inline button,
  form.form--inline textarea,
  form.form--inline select {
    display: inline-block;
    width: auto; }
  form.form--inline fieldset,
  form.form--inline label {
    position: absolute;
    left: 999rem;
    visibility: hidden; }
  form.form--inline input,
  form.form--inline button,
  form.form--inline textarea,
  form.form--inline select {
    margin: 0;
    vertical-align: middle; }

.form-element {
  position: relative; }
  .form-element + .form-element {
    margin-top: 0.75rem; }
  .form-element + .form-element--spacing-large {
    margin-top: 2.5rem; }
  .form-element--location, .form-element--keyword {
    padding: 0 0.25rem; }
    .form-element--location label, .form-element--keyword label {
      position: absolute;
      left: -999rem;
      visibility: hidden; }
    .form-element--location input, .form-element--keyword input {
      width: calc(100% - 0.1875rem);
      margin: 0.25rem 0;
      height: 2.625rem; }
  .form-element--submit {
    position: absolute;
    top: 0;
    right: 0.25rem;
    margin: 0.25rem; }
    .form-element--submit button {
      height: 2.625rem;
      padding: 0.525rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
      .form-element--submit button i {
        width: 1.5rem; }

.form-element__checkbox + .form-element__checkbox {
  margin-top: 0.375rem; }

.refine__menu {
  display: none; }

#refineSearch:checked ~ .refine__menu {
  display: block; }

/**
 * Fieldset base styles
 */
.personal-info-form {
  max-width: 25.5rem;
  margin: 0.625rem 7%; }
  .personal-info-form div input {
    width: 19.875rem; }

fieldset {
  width: 100%; }

/**
 * Input and text area base styles
 */
input,
textarea {
  box-sizing: border-box;
  width: 100%;
  border: solid 0.0625rem #bfbfbf;
  background-color: #ffffff;
  font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 0;
  -moz-box-shadow: inset 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.08);
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: inset 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.08); }
  input:active,
  textarea:active {
    outline: none;
    border: solid 0.0625rem #00aec7;
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08); }
  input:disabled,
  textarea:disabled {
    border: solid 0.0625rem #d9d9d9; }
  input:focus,
  textarea:focus {
    outline: none;
    border: solid 0.0625rem #00aec7;
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08); }

/**
 * Label base styles
 */
label,
legend {
  display: block;
  font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  clear: both;
  margin-top: 0.75rem; }
  label > span,
  label > p,
  legend > span,
  legend > p {
    font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: #666666; }
  label + input,
  label + textarea,
  label + select,
  legend + input,
  legend + textarea,
  legend + select {
    margin-top: 0.5625rem; }
  label + button,
  legend + button {
    margin-top: 2rem; }

label.disabled {
  opacity: 0.6; }

/* Make placeholder text consistent colors. */
::-webkit-input-placeholder {
  color: #a7a7a7;
  font-weight: 500; }

::-moz-placeholder {
  color: #5c5c5c;
  font-weight: 500; }

/* ie */
:-ms-input-placeholder {
  color: #a7a7a7;
  font-weight: 500; }

/* firefox 19+ */
/* Color differs to compensate for Firefox's weird decision to always lighten specified placeholder colors */
input:-moz-placeholder {
  color: #a7a7a7;
  font-weight: 500; }

/* placeholder won't disappear fixes */
input:focus::-webkit-input-placeholder {
  color: transparent; }

/* Firefox 19+ */
input:focus::-moz-placeholder {
  color: transparent; }

/* Firefox 18- */
input:focus:-moz-placeholder {
  color: transparent; }

/* oldIE ;) */
input:focus:-ms-input-placeholder {
  color: transparent; }

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="password"],
input[type="search"],
textarea {
  padding: 0.75rem 0.625rem 0.6875rem; }

.search {
  width: 100%;
  display: flex; }
  .search button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

input[type="radio"] {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0;
  margin-right: 1rem;
  border: none;
  zoom: 1;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  input[type="radio"]::before, input[type="radio"]:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.7rem;
    height: 1.7rem;
    border: 0.0625rem solid #bfbfbf;
    border-radius: 50%;
    background: #ffffff;
    -moz-box-shadow: inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    content: ""; }
  input[type="radio"]::after, input[type="radio"]:after {
    position: absolute;
    top: 0.46rem;
    left: 0.46rem;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    background: #ffffff;
    content: "";
    opacity: 0;
    zoom: 1; }
  input[type="radio"]:checked::before, input[type="radio"]:checked:before {
    border-color: #563d82;
    background: #6f5a95; }
  input[type="radio"]:checked::after, input[type="radio"]:checked:after {
    opacity: 1; }
  input[type="radio"]:checked:focus:before {
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.5);
    border: solid 0.0625rem #563d82; }
  input[type="radio"]:focus:before {
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    border: solid 0.0625rem #00aec7; }

input[type="checkbox"] {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0;
  margin-right: 1rem;
  border: none;
  zoom: 1;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  input[type="checkbox"]::before {
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    border: 0.0625rem solid #bfbfbf;
    border-radius: 0.1875rem;
    -webkit-box-shadow: inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    -moz-box-box-shadow: inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    background: #ffffff;
    content: ""; }
  input[type="checkbox"]::after {
    content: '';
    display: block;
    position: absolute;
    top: 0.35rem;
    left: 0.65rem;
    width: 0.35rem;
    height: 0.7rem;
    border: solid #ffffff;
    border-width: 0 0.175rem 0.175rem 0;
    transform: rotate(45deg); }
  input[type="checkbox"]:checked::before {
    border-color: #563d82;
    background: #6f5a95; }
  input[type="checkbox"]:checked:focus:before {
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.5);
    border: solid 0.0625rem #563d82; }
  input[type="checkbox"]:focus {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border-radius: 0.25rem; }
    input[type="checkbox"]:focus:before {
      box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
      border: solid 0.0625rem #00aec7; }

select {
  display: block;
  padding: 0.75rem 2.375rem 0.6875rem 0.625rem;
  border: solid 0.0625rem #bfbfbf;
  border-radius: 0.1875rem;
  background: url("../images/icon-arrow.svg") no-repeat right, linear-gradient(to top, #f2f2f2, #ffffff);
  background-size: 1.625rem 0.375rem, cover;
  box-shadow: 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, 0.08);
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 0.875rem;
  font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica", "Arial", sans-serif;
  outline: 0; }
  select::-ms-expand {
    display: none; }
  select:focus {
    border: solid 0.0625rem #00aec7;
    -moz-box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08); }
  select:active {
    border: solid 0.0625rem #00aec7;
    -moz-box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0.4375rem 0 rgba(0, 174, 199, 0.35), inset 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.08); }
  select:disabled {
    border: solid 0.0625rem #d9d9d9; }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000000; }

.selection-list {
  display: inline-block;
  padding: 0.875rem 0.625rem 1rem 0.625rem;
  background-color: #f2f2f2;
  border: solid 0.0625rem #bfbfbf; }
  .selection-list .selections p {
    padding: 1rem 0 0.625rem 3.5rem; }
  .selection-list .selections a {
    margin-left: 5.5rem; }

.provider-selection {
  display: inline-block;
  padding: 0.875rem 0.625rem 1rem 0.625rem;
  border: 0; }
  .provider-selection span {
    padding-left: 6.75rem;
    padding-right: 0.75rem; }
  .provider-selection b {
    font-weight: 600; }
  .provider-selection li:first-of-type {
    border-top: 1px solid rgba(191, 191, 191, 0.5); }
  .provider-selection li {
    border-bottom: 1px solid rgba(191, 191, 191, 0.5); }
  .provider-selection .selections {
    padding: 0.625rem 0rem 0.625rem 3.1rem; }
    .provider-selection .selections #less-link {
      display: none; }
    .provider-selection .selections #less-link:target {
      display: block; }
    .provider-selection .selections #less-link:target + #more-link {
      display: none; }
    .provider-selection .selections a {
      padding: 0;
      margin-top: 0.625rem; }
    .provider-selection .selections i {
      background-position: bottom;
      margin-left: 0.0625rem; }

.radioSelection label:first-child {
  margin: 0 0 1.125rem; }

.radioSelection label {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400; }
  .radioSelection label input {
    height: 1.875rem;
    width: 1.875rem;
    border-radius: 50%;
    margin-right: 0.625rem;
    top: 0; }

.tooltip-container {
  position: relative;
  display: inline; }
  .tooltip-container:hover .tooltip {
    visibility: visible;
    left: 100%;
    top: 50%;
    z-index: 999; }
  .tooltip-container.popup-with-exit-icon .popup-inner {
    margin-top: -49%; }
    .tooltip-container.popup-with-exit-icon .popup-inner:before, .tooltip-container.popup-with-exit-icon .popup-inner:after {
      content: none; }
  .tooltip-container.popup-with-exit-icon h4, .tooltip-container.popup-with-exit-icon p {
    padding: 0.625rem 1.25rem 0 0; }
  .tooltip-container.popup-with-exit-icon .icon.icon-exit {
    border: none;
    box-shadow: none;
    margin-left: 7.8125rem;
    top: 5.625rem; }
    .tooltip-container.popup-with-exit-icon .icon.icon-exit:before, .tooltip-container.popup-with-exit-icon .icon.icon-exit:after {
      content: none; }
  .tooltip-container.alert-popup-with-content .tooltip {
    border: 0.0625rem solid #c35500;
    box-shadow: none; }
  .tooltip-container.alert-popup-with-content .popup-inner {
    margin-top: -49%; }
    .tooltip-container.alert-popup-with-content .popup-inner:before, .tooltip-container.alert-popup-with-content .popup-inner:after {
      content: none; }
  .tooltip-container.alert-popup-with-content h4 {
    color: #c35500;
    font-size: 1.5rem;
    padding: 0.625rem 1.25rem 0 0; }
  .tooltip-container.alert-popup-with-content p {
    font-size: 0.875rem;
    line-height: 1.43;
    padding: 0.625rem 1.25rem 0 0; }

.div--birthdate input {
  width: 4.688rem; }

.div--birthdate legend {
  padding: 0.313rem 0; }

.div--birthdate .year {
  width: 5.938rem; }

.div--inline-field {
  display: inline-block; }

.more-info-box {
  height: auto; }
  .more-info-box p {
    max-width: 23.438rem;
    font-size: 0.688rem;
    color: #000;
    margin-bottom: 0.625rem; }

label.error ~ select.error,
label.error ~ input.error,
input.error ~ .ajax-error-container,
label.error ~ .ajax-error-container,
.inline-error-container ~ input.error {
  margin-bottom: 1rem; }

/*------------------------------------*    #TEXT
\*------------------------------------*/
/**
 * Paragraph base styles
 */
p {
  line-height: 1.2; }
  p + p {
    margin-top: 1rem; }

dt {
  display: block;
  font-weight: 600; }
  dd + dt {
    margin-top: 1rem; }

dl {
  display: block; }
  dl.dl--inline dt {
    display: inline-block;
    font-weight: 400; }
    dl.dl--inline dt::after {
      content: ": "; }
  dl.dl--inline dd {
    display: inline; }
    dl.dl--inline dd::after {
      content: "\a";
      white-space: pre; }
    dl.dl--inline dd + dt {
      margin-top: 0; }

/*

  UTILITY CLASSES

  Displays
  Hiding
  Spacing - awaiting definition
  Floats
  Validation

*/
.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.overflow {
  overflow: auto; }

/* Hide visually and from screen readers */
.hidden {
  display: none; }

/* Hide visually, but not from screen readers */
.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  overflow: hidden;
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem); }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

div.alert {
  border: 0.0625rem solid #bfbfbf;
  padding: 0.5rem;
  background: #f2f2f2;
  border-radius: 0.1875rem; }

.error {
  color: #c35500; }

.invalid,
.error {
  border: solid 0.0625rem #c35500; }

input.error,
select.error {
  color: initial;
  background-color: #ffffff; }

select.success,
input.success {
  background-color: #ffffff;
  color: #000000;
  border: 0.0625rem solid #bfbfbf; }

.errors-list li {
  margin-bottom: 0.625rem;
  clear: both; }

.icon + p {
  margin-right: 0.75rem; }

.icon {
  width: 1rem;
  height: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  display: inline-block; }
  .icon.icon--large {
    width: 1.25rem;
    height: 1.25rem; }
  .icon.icon--medium {
    width: 1.5625rem;
    height: 1.8125rem; }
  .icon.icon--small {
    width: 0.875rem;
    height: 0.6875rem; }
  .icon.icon-arrow--small {
    width: .5rem;
    height: 1rem; }
  .icon.icon-default {
    background-image: url("../images/icon-default.png"); }
  .icon.icon-error {
    background-image: url(../images/icon-error.png);
    background-image: url(../images/icon-error.svg), linear-gradient(transparent, transparent); }
  .icon.icon-exit {
    background-image: url(../images/icon-exit.png);
    background-image: url(../images/icon-exit.svg), linear-gradient(transparent, transparent); }
  .icon.icon-pass {
    background-image: url(../images/icon-pass.png);
    background-image: url(../images/icon-pass.svg), linear-gradient(transparent, transparent); }
  .icon.icon-add {
    background-image: url(../images/icon-add.png);
    background-image: url(../images/icon-add.svg), linear-gradient(transparent, transparent); }
  .icon.icon-delete {
    background-image: url(../images/icon-delete.png);
    background-image: url(../images/icon-delete.svg), linear-gradient(transparent, transparent); }
  .icon.icon-check-circle {
    background-image: url(../images/check-circle.png);
    background-image: url(../images/check-circle.svg), linear-gradient(transparent, transparent); }
  .icon.icon-warning {
    background-image: url(../images/warning-triangle.png);
    background-image: url(../images/warning-triangle.svg), linear-gradient(transparent, transparent); }
  .icon.icon-info {
    background-image: url(../images/info.png);
    background-image: url(../images/info.svg), linear-gradient(transparent, transparent); }
  .icon.icon-question-mark {
    background-image: url(../images/question-mark.png);
    background-image: url(../images/question-mark.svg), linear-gradient(transparent, transparent); }
  .icon.icon-refresh {
    background-image: url(../images/icon_full-width.png);
    background-image: url(../images/icon_full-width.svg), linear-gradient(transparent, transparent); }
  .icon.icon-accordion {
    background-image: url(../images/icon-accordion-arrow.png);
    background-image: url(../images/icon-accordion-arrow.svg), linear-gradient(transparent, transparent); }
  .icon.icon-search {
    background-image: url(../../images/icon-search.png);
    background-image: url(../../images/icon-search.svg), linear-gradient(transparent, transparent); }
  .icon.icon-search-black {
    background-image: url("../../images/icon-search-black.png");
    background-image: url("../../images/icon-search-black.svg"), linear-gradient(transparent, transparent); }
  .icon.icon-down-arrow {
    background-image: url(../images/icon-down-arrow.png);
    background-image: url(../images/icon-down-arrow.svg), linear-gradient(transparent, transparent); }
  .icon.icon-up-arrow {
    background-image: url(../images/arrow.png);
    background-image: url(../images/arrow.svg), linear-gradient(transparent, transparent); }
  .icon.icon-arrow {
    background-image: url(../../images/arrow.png);
    background-image: url(../../images/arrow.svg), linear-gradient(transparent, transparent); }
  .icon.icon-right-arrow {
    position: relative;
    top: 4px;
    width: 1rem;
    height: 1rem;
    background-image: url(../images/icon-rightcaret.png);
    background-image: url(../images/icon-rightcaret.svg), linear-gradient(transparent, transparent); }
  .icon.icon-home {
    background-image: url("../images/icon-home.png");
    background-image: url("../images/icon-home.svg"), linear-gradient(transparent, transparent); }
  .icon.icon-map-marker {
    width: 1rem;
    height: 1rem;
    background-image: url("../images/icon-map-marker.png");
    background-image: url("../images/icon-map-marker.svg"), linear-gradient(transparent, transparent);
    background-size: 1rem 1rem; }
  .icon.accordion-down {
    background-image: url("../images/accordionDown.png");
    background-image: url("../images/accordionDown.svg");
    width: 0.6rem;
    height: 0.6rem; }
  .icon.accordion-left {
    background-image: url("../images/accordionLeft.png");
    background-image: url("../images/accordionLeft.svg");
    width: 0.6rem;
    height: 0.6rem; }

.page-progress-piece-active {
  display: inline-block;
  width: 10.3125rem;
  height: 0.375rem;
  background-color: #43b02a;
  width: 100%; }

.page-progress-piece-current {
  display: inline-block;
  width: 10.3125rem;
  height: 0.375rem;
  background-color: #5fbc4a;
  width: 100%; }

.page-progress-piece-inactive {
  display: inline-block;
  width: 10.3125rem;
  height: 0.375rem;
  background-color: #bfbfbf;
  width: 100%; }

.page-progress-piece-current-text {
  font-weight: bold; }

.credit-card {
  display: inline-block;
  padding: 0;
  border: 0;
  width: 1.375rem;
  height: 1rem; }
  .credit-card.discover {
    background-image: url(../images/discover.png); }
  .credit-card.visa-inverted {
    background-image: url(../images/visa-inverted.png); }
  .credit-card.american-express {
    background-image: url(../images/american-express.png); }
  .credit-card.master-card {
    background-image: url(../images/master-card.png); }

.credit-card-container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 290px; }
  .credit-card-container .grid {
    position: absolute;
    border-spacing: 0;
    top: 15px;
    padding-left: 190px; }
    .credit-card-container .grid .col {
      padding: 0;
      border: 0;
      margin: 0;
      display: table-cell; }

.overlay {
  position: fixed;
  /* Set to fixed during production time */
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.85);
  z-index: 9999999; }
  .overlay .bubble {
    position: relative;
    width: 16.75rem;
    padding: 0rem;
    background: #ffffff;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    border: #00aec7 solid 0.0625rem; }
    .overlay .bubble:after {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 0.9375rem 0.9375rem 0;
      border-color: #ffffff transparent;
      display: block;
      width: 0;
      z-index: 1;
      bottom: -0.9375rem;
      left: 4.1875rem; }
    .overlay .bubble:before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 0.9375rem 0.9375rem 0;
      border-color: #00aec7 transparent;
      display: block;
      width: 0;
      z-index: 0;
      bottom: -1rem;
      left: 4.1875rem; }
  .overlay .popup {
    width: 16.75rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
    box-shadow: 0 0 0 0.375rem rgba(191, 191, 191, 0.2);
    margin: 5.625rem auto 1.25rem auto;
    padding: 1.25rem;
    box-sizing: border-box;
    border: 0.0625rem solid #00aec7; }
    .overlay .popup .price-change-summary {
      border-radius: 0.1875rem;
      background-color: #f2f2f2;
      border: solid 0.0625rem #bfbfbf;
      box-shadow: inset 0 0 0 0.0625rem #ffffff;
      display: block;
      padding: 1rem;
      margin: 1rem 0; }
      .overlay .popup .price-change-summary span:first-of-type {
        font-size: 2.125rem; }
      .overlay .popup .price-change-summary span.new-price, .overlay .popup .price-change-summary p {
        font-size: 2.125rem;
        font-weight: 300; }
    .overlay .popup.alert {
      border-color: #00aec7; }
      .overlay .popup.alert h2 {
        color: #000000;
        font-size: 1.5rem; }
      .overlay .popup.alert p {
        margin-bottom: 1.9rem; }
      .overlay .popup.alert hr {
        height: 0.0625rem; }
      .overlay .popup.alert .price-amount {
        font-size: 2.125rem; }
      .overlay .popup.alert .link-divider {
        margin: 1.9rem 0 1rem; }
      .overlay .popup.alert .zippopup-text-spacing {
        margin-top: 1.875rem;
        margin-bottom: 1rem; }
      .overlay .popup.alert a {
        font-size: 0.875rem; }
    .overlay .popup .actions {
      text-align: right;
      margin-top: 3.75rem; }
      .overlay .popup .actions .primary {
        margin-left: 1.25rem; }

.error-message--cat3 {
  padding: 1.5rem;
  background-color: #ffffff; }
  .error-message--cat3 .label {
    font-size: 1.5rem;
    color: #c35500;
    margin-bottom: 0.875rem; }
  .error-message--cat3 .description {
    font-size: 0.875rem;
    line-height: 1.43;
    color: #000000;
    margin-bottom: 0.875rem; }
    .error-message--cat3 .description:last-child {
      margin-bottom: 0rem; }
  .error-message--cat3 .button-align {
    margin: 1.5rem 5.625rem; }

.error-message--cat2 {
  padding: 1.5rem;
  background-color: #ffffff; }
  .error-message--cat2 .label {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 0.875rem; }
  .error-message--cat2 .description {
    font-size: 0.875rem;
    line-height: 1.43;
    color: #000000;
    margin-bottom: 0.875rem; }
  .error-message--cat2 .contact {
    margin: 1.5rem 0; }

.suggestion-dropdown {
  background-color: #ffffff;
  border: solid 0.0625rem #979797;
  border-width: 0.0625rem 0 0.0625rem 0;
  padding: 0.4375rem 0;
  font-size: 0.875rem;
  color: #666666;
  text-align: center; }

.tooltip-popup {
  position: absolute;
  color: #000000;
  background: #ffffff;
  border: 0.0625rem solid #00aec7;
  padding: 0 1.25rem 1.25rem 1.25rem;
  border-radius: 0.1875rem;
  box-shadow: 0rem 0rem 0rem 0.375rem rgba(191, 191, 191, 0.3);
  z-index: 999; }
  .tooltip-popup h4, .tooltip-popup p {
    padding: 1.25rem 1.25rem 0 0; }

.tooltip-popup.popup--left:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -0.4375rem;
  width: 0;
  height: 0;
  border: 0.375rem solid transparent;
  border-right: 0.375rem solid #00aec7; }

.tooltip-popup.popup--left:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -0.375rem;
  width: 0;
  height: 0;
  border: 0.3125rem solid transparent;
  border-right: 0.3125rem solid #ffffff; }

.tooltip-popup.popup--right:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -0.4375rem;
  width: 0;
  height: 0;
  border-left: 0.375rem solid #00aec7;
  border-top: 0.375rem solid transparent;
  border-bottom: 0.375rem solid transparent;
  border-right: 0.375rem solid transparent; }

.tooltip-popup.popup--right:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -0.375rem;
  width: 0;
  height: 0;
  border-left: 0.3125rem solid #ffffff;
  border-top: 0.3125rem solid transparent;
  border-bottom: 0.3125rem solid transparent;
  border-right: 0.3125rem solid transparent; }

.tooltip-popup.popup--top:before {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-right: -0.438rem;
  width: 0;
  height: 0;
  border-width: 0.438rem;
  border-bottom: 0.375rem solid #00aec7;
  border-left: 0.375rem solid transparent;
  border-right: 0.375rem solid transparent;
  border-top: 0.375rem solid transparent; }

.tooltip-popup.popup--top:after {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-right: -0.375rem;
  width: 0;
  height: 0;
  border-width: 0.438rem;
  border-bottom: 0.3125rem solid #ffffff;
  border-left: 0.3125rem solid transparent;
  border-right: 0.3125rem solid transparent;
  border-top: 0.3125rem solid transparent; }

.tooltip-popup.popup--bottom:before {
  content: '';
  position: absolute;
  top: 100%;
  right: 50%;
  margin-right: -0.438rem;
  width: 0;
  height: 0;
  border-width: 0.438rem;
  border-top: 0.375rem solid #00aec7;
  border-left: 0.375rem solid transparent;
  border-right: 0.375rem solid transparent;
  border-bottom: 0.375rem solid transparent; }

.tooltip-popup.popup--bottom:after {
  content: '';
  position: absolute;
  top: 100%;
  right: 50%;
  margin-right: -0.375rem;
  width: 0;
  height: 0;
  border-width: 0.438rem;
  border-top: 0.3125rem solid #ffffff;
  border-left: 0.3125rem solid transparent;
  border-right: 0.3125rem solid transparent;
  border-bottom: 0.3125rem solid transparent; }

/*------------------------------------*    #SECTIONS
\*------------------------------------*/
.details-container {
  border: 0.0625rem solid #bfbfbf;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 0.25rem; }
  .details-container p {
    border-bottom: 0.0625rem solid #bfbfbf;
    margin: -1rem -1rem 1rem;
    padding: 1rem; }
  .details-container fieldset {
    width: 100%;
    position: relative;
    margin: 0 1rem 0.625rem; }

/*------------------------------------*    #NAVIGATION
\*------------------------------------*/
/**
 * Navigation base styles
 */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  nav ul li {
    float: left; }
    nav ul li a {
      display: block;
      padding: 0.5rem; }

nav.footer-nav a {
  font-size: 0.75rem; }

header {
  width: 100%; }

.header--banner {
  display: inline-block;
  width: 100%;
  background-color: #563d82;
  color: #ffffff; }
  .header--banner p {
    padding: 17px 65% 17px 21%;
    font-size: 18px; }
  .header--banner span {
    font-weight: 600; }

/*------------------------------------*    #HEADER
\*------------------------------------*/
header.page-header {
  background-color: #563d82;
  max-height: 3.125rem; }

header.page-header--large {
  background-color: #563d82;
  height: 6.125rem; }

header.section-heading {
  margin: 1.625rem 0 1.5rem; }

header .home-icon {
  float: left;
  padding: 1rem; }

header .page-nav {
  float: right;
  padding: 0.5rem 1rem 0.5rem 0; }

header .logo-container {
  text-align: center; }

header .logo-link {
  width: 12.4rem; }
  header .logo-link > img {
    width: inherit; }

/*------------------------------------*    #FOOTER
\*------------------------------------*/
.page-footer {
  margin-top: 2.5rem;
  padding: 0 1rem;
  border-top: 0.0625rem solid #bfbfbf; }
  .page-footer .logo {
    display: inline-block;
    margin-left: -1.5rem;
    padding: 0 0 1rem; }
  .page-footer .footer__feedback {
    padding: 0.5rem 0;
    border-top: 0.0625rem solid #f2f2f2;
    border-bottom: 0.0625rem solid #f2f2f2;
    overflow: hidden; }
    .page-footer .footer__feedback > div {
      box-sizing: border-box;
      width: 50%;
      float: left;
      text-align: center; }
    .page-footer .footer__feedback .footer__feedback-contact {
      text-align: left;
      margin: 0 auto;
      padding-left: 1rem;
      line-height: 0.75rem; }
      .page-footer .footer__feedback .footer__feedback-contact span {
        font-size: 0.75rem; }

.copyright,
.disclaimer {
  font-size: 0.75rem;
  color: #666666; }

.stage-indicator {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: visible; }
  .stage-indicator .stage-indicator__item {
    display: table-cell;
    text-align: left;
    height: 0.25rem;
    line-height: 0.25rem;
    float: none;
    background-color: #bfbfbf;
    border: 0.0625rem solid #ffffff; }
    .stage-indicator .stage-indicator__item.current {
      background-color: #43b02a; }
  .stage-indicator .stage-indicator__item-text {
    position: relative;
    top: 1rem; }

/*------------------------------------*    #PRODUCT SELECTION SUMMARY
\*------------------------------------*/
/**
 * Product Selection Summary base styles
 */
.product-selection-summary {
  display: block;
  background: #563d82;
  padding: 2.5rem;
  color: #ffffff;
  width: 22rem;
  box-sizing: border-box; }
  .product-selection-summary h2 {
    font-size: 1.25rem;
    line-height: 1.2;
    border-bottom: 0.0625rem solid #ffffff;
    margin-top: 0;
    margin-bottom: 1.875rem;
    padding-bottom: 1.875rem; }
  .product-selection-summary h3 {
    margin-bottom: 1rem; }
  .product-selection-summary .plan-price {
    font-size: 1.6875rem;
    font-weight: 600; }
  .product-selection-summary .enrollee-list {
    margin: 1.875rem 0 0;
    padding: 1.875rem 0 0;
    border-top: 0.0625rem solid #ffffff; }
    .product-selection-summary .enrollee-list li {
      font-weight: 400;
      padding-bottom: 1rem;
      display: block;
      width: 100%; }
      .product-selection-summary .enrollee-list li:last-child {
        padding-bottom: 0; }
      .product-selection-summary .enrollee-list li .applicant-name {
        font-weight: 600; }

/*------------------------------------*    #BILLING SUMMARY
\*------------------------------------*/
/**
 * Billing Summary base styles
 */
.billing-summary {
  border: 0.0625rem solid #bfbfbf;
  padding: 1rem;
  position: relative; }
  .billing-summary hr {
    background-color: #bfbfbf;
    height: 0.0625rem;
    margin: 1rem 0;
    border: none; }
  .billing-summary .amount-due-row {
    line-height: 1.43;
    font-size: 1.125rem; }
  .billing-summary .amount-due {
    font-weight: 600;
    line-height: 1.43;
    font-size: 1.125rem;
    float: right; }
  .billing-summary .line-amount {
    float: right; }
  .billing-summary .tooltip-popup {
    margin: 0;
    position: absolute;
    left: 5.5rem;
    top: 4.5rem;
    width: 16rem; }
  .billing-summary #enrollmentLinkPopup {
    display: none; }
  .billing-summary #enrollmentLinkPopup:target {
    display: block; }

/*------------------------------------*    #SECURITY CODE IMAGES
\*------------------------------------*/
/**
 * Security Code Images base styles
 */
.security-code-images {
  position: relative; }
  .security-code-images label {
    margin-bottom: 0.375rem; }
  .security-code-images input {
    width: 6rem;
    float: left; }
  .security-code-images .security-image-front,
  .security-code-images .security-image-back {
    display: inline-block;
    float: left;
    margin-left: 1rem;
    text-align: center;
    font-size: 0.438rem; }
  .security-code-images #securityCodePopup {
    display: none; }
  .security-code-images #securityCodePopup:target {
    display: block; }
  .security-code-images .tooltip-popup {
    margin: 0;
    position: absolute;
    left: 0.375rem;
    top: 2rem;
    width: 16rem; }

/*------------------------------------*    #ACCORDION PANEL
\*------------------------------------*/
/**
 * Accordion Panel base styles
 */
.accordion-panel {
  border: 0.0625rem solid #bfbfbf; }
  .accordion-panel .accordion-title {
    position: relative;
    background-color: #eeeeee;
    border-bottom: none; }
  .accordion-panel .accordion-title a {
    padding: 0.625rem 2.5rem 0.625rem 2.25rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #000000;
    display: block;
    text-decoration: none; }
    .accordion-panel .accordion-title a .accordion-down, .accordion-panel .accordion-title a .accordion-left {
      position: absolute;
      top: 1rem;
      left: 1.25rem;
      display: block;
      background-color: transparent;
      background-repeat: no-repeat; }
    .accordion-panel .accordion-title a .accordion-down {
      display: none; }
    .accordion-panel .accordion-title a .accordion-left {
      display: block; }
  .accordion-panel .accordion-body {
    height: 0;
    overflow: hidden; }
  .accordion-panel .accordion-body > h4 {
    margin: 0;
    padding: 0.625rem 1.25rem;
    background-color: #f2f2f2;
    font-size: 0.875rem;
    font-weight: bold; }
  .accordion-panel .accordion-content {
    padding: 1.25rem; }

:target .accordion-body {
  height: auto; }

:target .accordion-title {
  border-bottom: 0.0625rem solid #bfbfbf; }

:target .accordion-title a .accordion-left {
  display: none; }

:target .accordion-title a .accordion-down {
  display: block; }

/*------------------------------------*    #ADD DEPENDENT
\*------------------------------------*/
/**
 * Add Dependent base styles
 */
.add-dependent .headingRow {
  margin-bottom: 2rem; }
  .add-dependent .headingRow h2 {
    float: left; }
  .add-dependent .headingRow .removeLink {
    float: right;
    margin-top: 0.375rem; }

.add-dependent .middleNameRow input {
  width: 3rem; }

.add-dependent .day, .add-dependent .month {
  width: 4rem; }

.add-dependent .year {
  width: 8rem; }

/*------------------------------------*    #FEEDBACK COMPONENTS
\*------------------------------------*/
/**
 * Feedback Components base styles
 */
.feedback-survey-container {
  border: 0.0625rem solid #bfbfbf;
  width: 100%; }
  .feedback-survey-container .title-bar {
    background-color: #f2f2f2;
    border-bottom: 0.0625rem solid #bfbfbf;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.625rem 1rem; }
  .feedback-survey-container .icon {
    float: right; }
  .feedback-survey-container iframe {
    width: 100%;
    height: 12rem; }

.feedback-container {
  position: relative; }
  .feedback-container .icon-link {
    display: none;
    position: absolute;
    right: 0.438rem;
    top: 0.438rem; }
  .feedback-container iframe {
    height: 21.875rem;
    width: 100%; }
  .feedback-container .feedback-sidetab {
    position: absolute;
    left: 0;
    top: 0.1625rem;
    box-sizing: border-box;
    height: 2.5rem;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    border: 0.0625rem solid #666666;
    background-color: #ffffff;
    z-index: 10;
    -webkit-box-shadow: -0.125rem 0.125rem 0.625rem 0.125rem rgba(102, 100, 102, 0.3);
    -moz-box-shadow: -0.125rem 0.125rem 0.625rem 0.125rem rgba(102, 100, 102, 0.3);
    box-shadow: -0.125rem 0.125rem 0.625rem 0.125rem rgba(102, 100, 102, 0.3); }
    .feedback-container .feedback-sidetab a {
      display: block;
      padding: 0.625rem;
      text-decoration: none;
      color: #000000; }
  .feedback-container .feedback-body {
    display: none;
    border: 0.0625rem solid #666666;
    width: 100%;
    padding: 0.375rem;
    margin-top: 2.6rem;
    -webkit-box-shadow: -0.125rem 0.125rem 0.625rem 0.125rem rgba(102, 100, 102, 0.3);
    -moz-box-shadow: -0.125rem 0.125rem 0.625rem 0.125rem rgba(102, 100, 102, 0.3);
    box-shadow: -0.125rem 0.125rem 0.625rem 0.125rem rgba(102, 100, 102, 0.3); }

#feedback-container:target .icon-link {
  display: block; }

#feedback-container:target .feedback-body {
  display: block; }

#feedback-container:target .feedback-sidetab {
  border-bottom: none;
  border-top-right-radius: 0.1875rem;
  border-top-left-radius: 0.1875rem;
  /* top shadow */
  -webkit-box-shadow: -0.125rem -0.313rem 0.313rem 0.125rem rgba(102, 100, 102, 0.1);
  -moz-box-shadow: -0.125rem -0.313rem 0.313rem 0.125rem rgba(102, 100, 102, 0.1);
  box-shadow: -0.125rem -0.313rem 0.313rem 0.125rem rgba(102, 100, 102, 0.1); }

@media only screen and (min-width: 37.5rem) {
  .feedback-container {
    position: absolute;
    right: -22rem;
    top: 0;
    width: 21.875rem; }
    .feedback-container .feedback-sidetab {
      left: -2.4375rem;
      top: 10.625rem;
      z-index: 10;
      border-top-right-radius: 0.1875rem;
      border-top-left-radius: 0.1875rem;
      /* top shadow */
      -webkit-box-shadow: -0.125rem -0.313rem 0.313rem 0.125rem rgba(102, 100, 102, 0.1);
      -moz-box-shadow: -0.125rem -0.313rem 0.313rem 0.125rem rgba(102, 100, 102, 0.1);
      box-shadow: -0.125rem -0.313rem 0.313rem 0.125rem rgba(102, 100, 102, 0.1);
      transform-origin: left top 0;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      transform: rotate(-90deg); }
    .feedback-container .feedback-foot {
      text-align: right; }
    .feedback-container .icon-link {
      display: none; }
  #feedback-container:target {
    position: absolute;
    right: 0;
    top: 0; }
    #feedback-container:target .icon-link {
      position: absolute;
      left: -2.4375rem;
      top: 4.5rem;
      height: 6.5rem;
      width: 2.5rem;
      z-index: 20; }
    #feedback-container:target .icon-link i {
      display: none; } }

/*------------------------------------*    $MODULES
\*------------------------------------*/
/*------------------------------------*    Error Messages
\*------------------------------------*/
.error-message {
  display: block;
  margin: 1.5rem; }

.error-message__header {
  margin: 1.5rem 0;
  font-size: 1.5rem; }

.error-message__body {
  font-size: 0.875rem; }
  .error-message__body p {
    margin: 0.75rem 0; }
  .error-message__body ul {
    list-style: disc;
    margin-left: 1rem;
    overflow: visible; }
    .error-message__body ul li {
      margin: 0.5rem 0; }

.error--severe .error-message__header {
  color: #c35500; }

.form-element--location {
  position: absolute;
  top: 2.25rem;
  left: 2.75rem;
  width: calc(100% - 2.75rem); }

.form-element--keyword {
  position: absolute;
  top: 0;
  left: 2.75rem;
  width: calc(100% - 2.85rem); }

.provider-list {
  border-top: 0.0625rem solid #bfbfbf;
  margin-top: 2.5rem; }

.provider-listing {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #bfbfbf; }

.provider__aside {
  float: right; }

.provider__block {
  margin-bottom: 1rem; }

.provider__languages,
.provider__access,
.provider__hours,
.provider__place,
.provider__data,
.provider__map,
.provider__indicators,
.provider__header {
  margin: 1rem 0; }

.provider__name {
  font-size: 1.25rem; }

.provider__map {
  width: 100%;
  height: 8.625rem; }

.provider {
  display: block; }
  .provider .data__row {
    text-align: left; }
    .provider .data__row .data__row--heading::after {
      content: ":"; }
    .provider .data__row .data__row--cell {
      padding-left: 1rem; }

/*------------------------------------*    $LAYOUT
\*------------------------------------*/
/*------------------------------------*    #LAYOUT
\*------------------------------------*/
